user default reset off
user wenyousite_app on #SHA256_APP_PASSWORD ~* &* +@all -acl -bgrewriteaof -bgsave -config -debug -flushall -flushdb -migrate -module -monitor -replicaof -restore -save -shutdown -slaveof
user wenyousite_ops on #SHA256_OPS_PASSWORD ~* &* +@all
user wenyousite_health on #SHA256_HEALTH_PASSWORD ~* &* +ping
