# Copy to /etc/wenyousite/restic.env (0600 root:root).
RESTIC_REPOSITORY=s3:https://cn-nb1.rains3.com/CHANGE_ME_PRIVATE_BUCKET/wenyousite/restic
AWS_ACCESS_KEY_ID=CHANGE_ME_DEDICATED_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=CHANGE_ME_DEDICATED_SECRET_KEY
AWS_DEFAULT_REGION=CHANGE_ME_RAIN_REGION
RESTIC_PASSWORD_FILE=/etc/wenyousite/restic-password
RESTIC_CACHE_DIR=/var/cache/wenyousite/restic
