wenyou.site {
    handle_path /api/v1/* {
        reverse_proxy api:3000
    }
    handle {
        reverse_proxy web:3001
    }

    header X-Content-Type-Options "nosniff"
    header X-Frame-Options "DENY"

    request_body {
        max_size 10MB
    }
}
