[Unit]
Description=Sample Wenyou Site host health every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s
Unit=wenyousite-host-health.service

[Install]
WantedBy=timers.target
